body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

/* Header Section */
.header {
    overflow: hidden;
    background-color: white;
    padding: 80px 60px 40px;
}
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 20px; 
    line-height: 25px;
    border-radius: 4px;
}
.active {
    background-color: #ffc022;
}
.header a:hover {
    background-color: #e4e3e3;
    color: black;
}
.headerright{
    float: right;
}

/* Background section */
.backgroundSection{
    padding: 50px;
    text-align: center;
}

/* Education section */

#educationTable{
    border: 1px solid darkgray;
    border-collapse: collapse;
    width: 85%;
    position: relative;
    left: 60px;
}
#educationTable thead {
    background-color: #ffc022;
    text-align: left;
    border: 1px solid rgb(196, 196, 196);
}
#educationTable td {
    border: 1px solid rgb(196, 196, 196);
}
#educationTable tbody tr {
    text-align: left;
    border: 1px solid rgb(196, 196, 196);
}


/* Contact */
.contactSection{
    text-align: center;
    padding: 50px;
}
.button{
    background-color: #e3a300;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 4px;
}

/* Footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
}
