body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

/* Header Section */
.header {
    overflow: hidden;
    background-color: white;
    padding: 80px 60px 40px;
}
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 20px; 
    line-height: 25px;
    border-radius: 4px;
}
.active {
    background-color: #ffc022;
}
.header a:hover {
    background-color: #e4e3e3;
    color: black;
}
.headerright{
    float: right;
}

/* Hero Section */

.herosection {
    padding: 60px;
    display: flex;
}
.columnleft {
    width: 70%;
    flex: 50%;
    padding: 0 40px 0 0;
}
.right {
    width: 30%;
    flex: 50%;
}
.herosection::after {
    clear: both;
    content: "";
    display: table;
}

/* Project Table section */
#projectTable {
    border: 1px solid darkgray;
    border-collapse: collapse;
    width: 80%;
    position: absolute;
    left: 60px;
}
#projectTable thead {
    background-color: #ffc022;
    text-align: left;
    border: 1px solid rgb(196, 196, 196);
}
#projectTable td {
    border: 1px solid rgb(196, 196, 196);
}
#project tbody tr {
    text-align: left;
    border: 1px solid rgb(196, 196, 196);
}
.detail {
    text-decoration: none;
    border: 1px solid #ffc022;
    background-color: #ffc022;
    padding: 5px;
    color: rgb(26, 26, 26);
    position: relative;
    float: right;
}
/* Footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
}
