@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Varela+Round&display=swap');

body { 
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
}
h1 {
    font-family: "Merriweather Sans", sans-serif;
}

/* Navigation Section */
.header {
    overflow: hidden;
    background-color: white;
    padding: 80px 60px 40px;
}
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 20px; 
    line-height: 25px;
    border-radius: 4px;
}
.active {
    background-color: #ffc022;
}
.header a:hover {
    background-color: #e4e3e3;
    color: black;
}
.headerright{
    float: right;
}

/* Background section */
.backgroundSection{
    text-align: center;
    padding: 60px;
}
.backgroundSection li{
    list-style-type: none;
}

/* Homepage Hero Section */

.herosection {
    padding: 60px 0 30px 0 ;
    display: flex;
    width: 60%;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.columnleft {
    width: 80%;
    flex: 80%;
    padding: 0 30px 0 0;
}
.columnright {
    width: 20%;
    flex: 20%;
}
.herosection::after {
    clear: both;
    content: "";
    display: table;
}
.button{
    text-decoration: none;
    background-color: #ffc022;
    padding: 10px;
    color: rgb(26, 26, 26);
    font-size: large;
    border-radius: 6px;
}

/* Table section */
.table{
    padding-bottom: 20px;
}
#styleTable {
    border: 1px solid darkgray;
    border-collapse: collapse;
    width: 60%;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;
}
#styleTable thead {
    background-color: #ffc022;
    text-align: left;
    border: 1px solid rgb(196, 196, 196);
}
#styleTable td {
    border: 1px solid rgb(196, 196, 196);
}
#table tbody tr {
    text-align: left;
    border: 1px solid rgb(196, 196, 196);
}

/* Contact me button */
.contactSection{
    text-align: center;
    padding: 20px;
}
.button{
    background-color: #e3a300;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 4px;
}

/* Projects Images section */

.wrapper {
    text-align: center;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin: auto;
}

.wrapperBody {
    position: relative;
    overflow: hidden;
}
.herosection::after {
    clear: both;
    content: "";
    display: table;
}

/* Image with caption */
.wrapper img{
    object-fit: cover; /* Prevent image stretching */
    width: 100%;
    height: 100%;
}
.caption {
    display: flex;
    position: absolute;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    transform: translateY(100%);
    transition: transform 0.3s;
}
.wrapperBody:hover .caption{
    transform: translateY(0%);  /* Hover caption */
}

/* Footer */
.footer {
    width: 100%;
    padding: 20px 0 0 0 ;
    text-align: center;
    background-color: white;
    margin-top: auto;
}

/* Responsive Home page hero section */

@media screen and (max-width: 600px) {
    .herosection{
        text-align: center;
        flex-wrap: wrap-reverse;
    }
}