body { 
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
}

/* Navigation Section */
.header {
    overflow: hidden;
    background-color: white;
    padding: 80px 60px 40px;
}
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 20px; 
    line-height: 25px;
    border-radius: 4px;
}
.active {
    background-color: #ffc022;
}
.header a:hover {
    background-color: #e4e3e3;
    color: black;
}
.headerright{
    float: right;
}

/* Background section */
.backgroundSection{
    padding: 50px;
    text-align: center;
}
.backgroundSection li{
    list-style-type: none;
}

/* Homepage Hero Section */

.herosection {
    padding: 60px;
    display: flex;
}
.columnleft {
    width: 70%;
    flex: 50%;
    padding: 0 40px 0 0;
}
.right {
    width: 30%;
    flex: 50%;
}
.herosection::after {
    clear: both;
    content: "";
    display: table;
}
.button{
    text-decoration: none;
    background-color: #ffc022;
    padding: 10px;
    color: rgb(26, 26, 26);
    font-size: large;
    border-radius: 6px;
}

/* Table section */
.table{
    padding-bottom: 20px;
}
#styleTable {
    border: 1px solid darkgray;
    border-collapse: collapse;
    width: 90%;
    position: relative;
    left: 60px;
}
#styleTable thead {
    background-color: #ffc022;
    text-align: left;
    border: 1px solid rgb(196, 196, 196);
}
#styleTable td {
    border: 1px solid rgb(196, 196, 196);
}
#table tbody tr {
    text-align: left;
    border: 1px solid rgb(196, 196, 196);
}

/* Contact me button */
.contactSection{
    text-align: center;
    padding: 20px;
}
.button{
    background-color: #e3a300;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 4px;
}

/* E learning section */
.wrapper {
    text-align: center;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin: auto;
}

.eLearningHero {
    position: relative;
    overflow: hidden;
}
.herosection::after {
    clear: both;
    content: "";
    display: table;
}

/* Monster Card section */
.monster{
    text-align: center;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin: auto;
}
.monsterHero{
    position: relative;
    overflow: hidden;
}

/* Image with caption */
.wrapper img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.caption {
    display: flex;
    position: absolute;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    transform: translateY(100%);
    transition: transform 0.3s;
}
.eLearningHero:hover .caption{
    transform: translateY(0%);
}
.monsterHero:hover .caption{
    transform: translateY(0%);
}

/* Footer */
.footer {
    width: 100%;
    padding: 20px 0 0 0 ;
    text-align: center;
    background-color: white;
    margin-top: auto;
}
